@use '../../variables';

#ProfilSection {

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: variables.$background2;
  
    h1 {
      grid-row: 1;
      grid-column: 1 / -1;
      text-align: center;

    font-size: 2.5rem;
    margin: 20px 0;
  }

  .profilSection-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    .profilSection-left, .profilSection-right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid variables.$title-color-2;
      border-radius: 10px;
      background-color: variables.$background3;
    }
  }

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  #EtMaintenant {
    margin-top: 40px;
  }
}
