@use '../../variables';

.projectSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 3 colonnes de taille égale
  gap: 2rem; // espace entre les cartes

  background-color: variables.$background2;
}


@media screen and (max-width: 1000px) {
  .projectSection {
    grid-template-columns: repeat(1, 1fr);
  }
}


