$title-color-1: #f83354;
$title-color-2: #f7b0bc;

$navbar-color-1: #2b6cc0;
$navbar-color-2: #79aaeb;

$background-color-1: #cef3b5;
$background-color-2: #252525;
$text-color-primary: #FFFFFF;
$text-color-secondary: #000000;


$font-wheight-thin : 400;
$font-wheight-regular : 500;
$font-wheight-bold : 700;


