$title-color-1: rgb(255, 127, 80);
$title-color-2: rgb(248, 165, 135);
$title-color-3: rgb(255, 228, 196);

$background-root: rgb(62,62,62);
$background1: rgb(63, 62, 62);
$background2: rgb(36, 36, 36);
$background3: rgba(255, 255, 255, 0.05);

$text-color:   rgba(255, 255, 255, 0.87);

$link-color: rgb(108, 108, 247)
