@use "../../variables";

#CompetencesSection {
  background-color: variables.$background1;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .skillsGroup {
      margin-bottom: 30px;
      height: fit-content;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          background-color: variables.$background3;
          border-left: 4px solid variables.$title-color-1;
          padding: 10px 15px;
          margin-bottom: 8px;
          border-radius: 4px;
          font-size: 16px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  #CompetencesSection .skillsContainer {
    grid-template-columns: 1fr;
    justify-items: center; // centre les éléments horizontalement
    
    width: 90%;
    padding: 0px;
    gap: 0rem;
    
    h3{
      margin-top: 0;
    }
  }

}
